.ambitions-team-container {
  aspect-ratio: 375/2151;
  width: 100%;
  background-image: url("/public/mobile/ambitions_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 3185px;
  display: flex;
  justify-content: center;
  overflow: visible;
  #ambitions {
    width: 320px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    .ambitions-left {
      width: 320px;
      height: 600px;
      position: relative;
      margin-right: 0;
      overflow: visible;
      img {
        width: 320px;
        position: absolute;
        left: 5px;
        bottom: 200px;
      }
      .ambitions-counter {
        width: 302px;
        height: 290px;
        background-color: #00bac7;
        box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
        border-radius: 20px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        .ambitions-counter-number {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 39px;
          text-align: center;
        }
        .ambitions-counter-text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 23px;
        }
        .projects {
          padding-right: 0;
        }
        .negotiations {
          padding: 0;
          border-left: none;
          border-right: none;
        }
        .deals {
          padding-left: 0;
        }
      }
    }
    .ambitions-right {
      margin-top: 30px;
      margin-left: 15px;
      div {
        margin-left: 40px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
        color: #00bac7;
      }
      &::before {
        content: "";
        border: 1px solid #00bac7;
        width: 30px;
        transform: translateY(8px);
        position: absolute;
      }
      h2 {
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        line-height: 44px;
        color: #272d3e;
        margin-top: 10px;
        margin-bottom: 60px;
      }
      ul li {
        background: url("../public/check.svg") no-repeat left top;
        padding: 0 0 0 50px;
        list-style: none;
        margin: 20px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: rgba(39, 45, 62, 0.8);
      }
    }
  }
}

#team {
  aspect-ratio: 375/1333.85;
  width: 100%;
  background-image: url("/public/mobile/team_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0px;
  bottom: -900px;
  display: flex;
  justify-content: center;
  align-items: center;
  .team-container {
    margin: 200px auto;
    .team-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .team-headsup {
        color: #00bac7;
        background: rgba(198, 244, 248, 0.1);
        border-radius: 100px;
        padding: 10px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
      }
      h2 {
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        margin-top: 10px;
      }
      p {
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        width: 256px;
        text-align: center;
        margin-top: 20px;
      }
    }
    .team-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;
      .card {
        flex: 0 0 261px;
        background-color: white;
        border-radius: 10px;
        width: 301px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card-title {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #00bac7;
          margin-bottom: 10px;
        }
        .card-name {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 42px;
          color: #001533;
          margin-bottom: 17px;
        }
        .card-info {
          font-family: "Source Sans Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #001533;
          width: 242px;
        }
      }
      .card-middle {
        margin: 42px 0;
      }
    }
  }
}

#team {
  aspect-ratio: 375/1333.85;
  width: 100%;
  background-image: url("/public/mobile/team_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 5060px;
  display: flex;
  justify-content: center;
  align-items: center;
  .team-container {
    margin: 200px auto;
    .team-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .team-headsup {
        color: #00bac7;
        background: rgba(198, 244, 248, 0.1);
        border-radius: 100px;
        padding: 10px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
      }
      h2 {
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        margin-top: 10px;
      }
      p {
        color: rgba(255, 255, 255, 0.8);
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        width: 256px;
        text-align: center;
        margin-top: 20px;
      }
    }
    .team-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 35px;
      .card {
        flex: 0 0 261px;
        background-color: white;
        border-radius: 10px;
        width: 301px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card-title {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: #00bac7;
          margin-bottom: 10px;
        }
        .card-name {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 42px;
          color: #001533;
          margin-bottom: 17px;
        }
        .card-info {
          font-family: "Source Sans Pro", sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: #001533;
          width: 242px;
        }
      }
      .card-middle {
        margin: 42px 0;
      }
    }
  }
}
