#innovations {
  height: 1600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 684px;
  .innovations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 301px;
  }
  .innovations-header {
    h2 {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #272d3e;
    }
  }
  .innovations-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 29px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 32px;
      flex: 0 0 417px;
      img {
        width: 100%;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
      }
      p {
        width: 301px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: rgba(39, 45, 62, 0.8);
      }
    }
    .hydrogen {
      margin: 62px 0;
    }
  }
}
