#intro {
  aspect-ratio: 375/684;
  width: 100%;
  min-height: 684px;
  background-image: url("/public/mobile/intro_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  overflow: visible;
  z-index: 5;
}

header {
  height: 28px;
  width: 83%;
  margin-top: 29px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition: all 1.5s;
  .logo {
    flex: 0 0 134px;
    height: 28px;
    a {
      padding: 0px;
    }
    img {
      width: 100%;
    }
    &:hover {
      transform: scale(1.25);
    }
  }
  .top-navigation {
    display: none;
  }
  .top-contact {
    flex: 0 0 134px;
    display: flex;
    justify-content: flex-end;
    .top-form {
      display: none;
    }
    .hamburger {
      display: flex;
      align-items: center;
      position: relative;
    }
  }
}

.header-bg {
  position: fixed;
  height: 80px;
  top: 0;
  z-index: 9;
  transition: all 1s ease-in-out;
}

.test {
  transform: scale(6) rotateZ(30deg);
}

.mobile-nav {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 80px;
  visibility: hidden;
  z-index: 999;
  div {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
  }
  a {
    color: white;
    text-align: center;
    opacity: 0;
    &:hover {
      transform: scale(1.25);
      //text-shadow: 0px 0px 10px #00bac7;
      color: #00bac7;
    }
  }
  &-active {
    visibility: visible;
    a {
      opacity: 1;
    }
  }
}

.one {
  transition: all 1s 0.45s;
  &-end {
    transition: all 0.6s 0.15s;
  }
}
.two {
  transition: all 1s 0.5s;
  &-end {
    transition: all 0.5s 0.1s;
  }
}
.three {
  transition: all 1s 0.55s;
  &-end {
    transition: all 0.4s 0.05s;
  }
}
.four {
  transition: all 1s 0.6s;
  &-end {
    transition: all 0.3s;
  }
}

.intro-info {
  width: 83%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  overflow: visible;
  div {
    width: 575px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    h2 {
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
    }
    .intro-info-text {
      width: 302px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.8);
    }
    .middle-contact {
      width: 211px;
      padding: 25px 45px;
      margin-top: 33px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: rgba(244, 247, 255, 1);
      background-color: #00bac7;
      box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
      border-radius: 100px;
      cursor: pointer;
      p {
        margin-right: 15px;
      }
    }
  }
}

.intro-rectangle,
.intro-rectangle2,
.intro-circle,
.intro-image {
  display: none;
}
