#intro {
  aspect-ratio: 375/684;
  width: 100%;
  background-image: url("/public/mobile/intro_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
}

header {
  height: 28px;
  width: 83%;
  margin-top: 29px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    flex: 0 0 134px;
    height: 28px;
    a {
      padding: 0px;
    }
    img {
      width: 100%;
    }
  }
  .top-navigation {
    display: none;
  }
  .top-contact {
    flex: 0 0 134px;
    display: flex;
    justify-content: flex-end;
    .top-form {
      display: none;
    }
    .hamburger {
      display: flex;
      align-items: center;
    }
  }
}

.intro-info {
  width: 83%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-top: 125px;
  overflow: visible;
  div {
    width: 575px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    h2 {
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
    }
    .intro-info-text {
      width: 302px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.8);
    }
    .middle-contact {
      width: 211px;
      padding: 25px 45px;
      margin-top: 33px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: rgba(244, 247, 255, 1);
      background-color: #00bac7;
      box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
      border-radius: 100px;
      cursor: pointer;
      p {
        margin-right: 15px;
      }
    }
  }
}

.intro-rectangle,
.intro-rectangle2,
.intro-circle,
.intro-image {
  display: none;
}
