#innovations {
  height: 802.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .innovations-container {
    width: 1179px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .innovations-header {
    h2 {
      font-weight: 500;
      font-style: normal;
      font-size: 32px;
      line-height: 44px;
      text-align: left;
      color: #272d3e;
    }
  }
  .innovations-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 84px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 32px;
      flex: 0 0 373px;
      img {
        width: 100%;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
      }
      p {
        width: 355px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: rgba(39, 45, 62, 0.8);
      }
    }
    .hydrogen {
      margin: 0 30px;
    }
  }
}
