* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  font-family: "DM Sans", sans-serif;
  user-select: none;
  overflow-y: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

@import "../src/mobile/intro";
@import "../src/mobile/innovations";
@import "../src/mobile/plans";
@import "../src/mobile/ambitions";

.whitespace {
  height: 175vh;
}

@import "../src/mobile/footer";

/* DESKTOP @MQ */

@media screen and (min-width: 1180px) {
  @import "../src/desktop/intro";
  @import "../src/desktop/innovations";
  @import "../src/desktop/plans";
  @import "../src/desktop/ambitions";

  .whitespace {
    height: 20vh;
  }

  @import "../src/desktop/footer";
}
