* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "DM Sans", sans-serif;
  user-select: none;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

#intro {
  aspect-ratio: 1440/1074.5;
  width: 100%;
  background-image: url("../public/Rectangle1intor-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

header {
  height: 53px;
  width: 1180px;
  margin-top: 58px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    flex: 1 1 295px;
  }
  .top-navigation {
    flex: 0 0 590px;
    display: flex;
    justify-content: space-around;
    a {
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
      font-style: normal;
    }
  }
  .top-contact {
    flex: 1 1 295px;
  }
}

.intro-info {
  width: 1180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-top: 336px;
  div {
    width: 575px;
    display: flex;
    flex-direction: column;
    h2 {
      margin-bottom: 20px;
      font-size: 48px;
      font-weight: 500;
      font-style: normal;
    }
    .intro-info-text {
      width: 470px;
      font-weight: normal;
      font-style: normal;
      line-height: 32px;
      color: rgba(255, 255, 255, 0.8);
    }
    .middle-contact {
      width: 211px;
      height: 71px;
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #00bac7;
      box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
      border-radius: 100px;
      p {
        margin-right: 15px;
      }
    }
  }
}

.intro-rectangle {
  position: absolute;
  left: -49px;
  top: 265px;
}
.intro-rectangle2 {
  position: absolute;
  left: 32px;
  top: 163px;
}
.intro-circle {
  position: absolute;
  right: 0px;
  top: 0px;
}
.intro-image {
  position: absolute;
  right: 0px;
  top: 221px;
  width: 48%; /* 685px original*/
}

#innovations {
  height: 802.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .innovations-container {
    width: 1179px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .innovations-header {
    font-weight: 500;
    font-style: normal;
    line-height: 44px;
    color: #272d3e;
  }
  .innovations-info {
    display: flex;
    justify-content: center;
    margin-top: 84px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      line-height: 32px;
      flex: 0 0 373px;
      img {
        width: 100%;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        font-style: normal;
        color: #000000;
      }
      p {
        width: 355px;
        font-weight: normal;
        font-style: normal;
      }
    }
    .hydrogen {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

#plans {
  height: 553px;
  background-color: #00bac7;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .plans-container {
    width: 1159px;
    display: flex;
    flex-direction: column;
    div {
      margin-left: 40px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.1em;
    }
    &::before {
      content: "";
      border: 1px solid white;
      width: 30px;
      transform: translateY(10px);
    }
    h2 {
      font-weight: 500;
      font-style: normal;
      font-size: 32px;
      line-height: 44px;
      margin-top: 10px;
    }
    .plans-hr {
      width: 371px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin: 40px 0 64px 0;
    }
    p {
      width: 640px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 40px;
    }
  }
}

.plans-illustration {
  position: absolute;
  right: 0px;
  top: -20px;
}

.ambitions-team-container {
  aspect-ratio: 1440/2217;
  width: 100%;
  background-image: url("../public/ambitions_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  #ambitions {
    width: 1180px;
    height: 600px;
    margin: 200px auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    .ambitions-left {
      flex: 0 0 575px;
      margin-right: 15px;
      img {
        position: absolute;
        left: 71px;
        bottom: -15px;
      }
      .ambitions-counter {
        width: 575px;
        height: 118px;
        background-color: #00bac7;
        box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
        border-radius: 20px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        .ambitions-counter-number {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 39px;
        }
        .ambitions-counter-text {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
        }
        .projects {
          padding-right: 49px;
        }
        .negotiations {
          padding: 0 49px;
          border-left: 1px solid rgba(255, 255, 255, 0.3);
          border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
        .deals {
          padding-left: 49px;
        }
      }
    }
    .ambitions-right {
      margin-top: 30px;
      margin-left: 15px;
      div {
        margin-left: 40px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
        color: #00bac7;
      }
      &::before {
        content: "";
        border: 1px solid #00bac7;
        width: 30px;
        transform: translateY(8px);
        position: absolute;
      }
      h2 {
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        line-height: 44px;
        color: #272d3e;
        margin-top: 10px;
        margin-bottom: 60px;
      }
      ul li {
        background: url("../public/check.svg") no-repeat left top;
        padding: 0 0 0 50px;
        list-style: none;
        margin: 20px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: rgba(39, 45, 62, 0.8);
      }
    }
  }
  #team {
    aspect-ratio: 1440/1002;
    width: 100%;
    background-image: url("../public/team_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    bottom: 127.5px;
    display: flex;
    justify-content: center;
    .team-container {
      width: 1180px;
      margin: 200px auto;
      .team-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .team-headsup {
          color: #00bac7;
          background: rgba(198, 244, 248, 0.1);
          border-radius: 100px;
          padding: 10px 20px;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.1em;
        }
        h2 {
          color: white;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 44px;
          margin-top: 10px;
        }
        p {
          color: rgba(255, 255, 255, 0.8);
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 32px;
          width: 577px;
          text-align: center;
          margin-top: 20px;
        }
      }
      .team-bottom {
        display: flex;
        margin-top: 80px;
        .card {
          flex: 0 0 373px;
          background-color: white;
          border-radius: 10px;
          height: 323px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .card-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #00bac7;
            margin-bottom: 10px;
          }
          .card-name {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 42px;
            color: #001533;
            margin-bottom: 30px;
          }
          .card-info {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #001533;
            width: 280px;
          }
        }
        .card-middle {
          margin: 0 30px;
        }
      }
    }
  }
}

.whitespace {
  height: 20vh;
}

footer {
  aspect-ratio: 1440/363;
  width: 100%;
  background-image: url("../public/footer_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
