* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

:root {
  font-family: "DM Sans", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: auto;
}

main {
  position: relative;
  width: 100%;
  height: 6794px;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  z-index: 10;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(244, 247, 255, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(39, 45, 62, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background: #272d3e;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

#intro {
  aspect-ratio: 375/684;
  width: 100%;
  background-image: url("/public/mobile/intro_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  height: 28px;
  width: 83%;
  margin-top: 29px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 134px;
          flex: 0 0 134px;
  height: 28px;
}

header .logo a {
  padding: 0px;
}

header .logo img {
  width: 100%;
}

header .top-navigation {
  display: none;
}

header .top-contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 134px;
          flex: 0 0 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .top-contact .top-form {
  display: none;
}

header .top-contact .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bg {
  position: fixed;
  top: 0;
  z-index: 9;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.intro-info {
  width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 125px;
  overflow: visible;
}

.intro-info div {
  width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: visible;
}

.intro-info div h2 {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}

.intro-info div .intro-info-text {
  width: 302px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.intro-info div .middle-contact {
  width: 211px;
  padding: 25px 45px;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f7ff;
  background-color: #00bac7;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
          box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
  border-radius: 100px;
  cursor: pointer;
}

.intro-info div .middle-contact p {
  margin-right: 15px;
}

.intro-rectangle,
.intro-rectangle2,
.intro-circle,
.intro-image {
  display: none;
}

#innovations {
  height: 1600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 684px;
}

#innovations .innovations-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 301px;
}

#innovations .innovations-header h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #272d3e;
}

#innovations .innovations-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 29px;
}

#innovations .innovations-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 417px;
          flex: 0 0 417px;
}

#innovations .innovations-info div img {
  width: 100%;
}

#innovations .innovations-info div h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
}

#innovations .innovations-info div p {
  width: 301px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: rgba(39, 45, 62, 0.8);
}

#innovations .innovations-info .hydrogen {
  margin: 62px 0;
}

#plans {
  height: 900px;
  width: 100%;
  background-color: #00bac7;
  color: white;
  position: absolute;
  top: 2285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: visible;
}

#plans .plans-container {
  width: 301px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#plans .plans-container div {
  margin-left: 0px;
}

#plans .plans-container div p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

#plans .plans-container::before {
  content: "";
  border: 1px solid white;
  width: 30px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  position: absolute;
}

#plans .plans-container h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  margin-top: 42px;
  margin-bottom: 34px;
}

#plans .plans-container .plans-hr {
  display: none;
}

#plans .plans-container .plans-text {
  width: 301px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 121px;
}

.plans-illustration {
  position: absolute;
  right: 0px;
  top: -20px;
  overflow: visible;
  width: 658px;
}

.ambitions-team-container {
  aspect-ratio: 375/2151;
  width: 100%;
  background-image: url("/public/mobile/ambitions_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 3185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
}

.ambitions-team-container #ambitions {
  width: 320px;
  margin: 200px auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

.ambitions-team-container #ambitions .ambitions-left {
  width: 320px;
  height: 600px;
  position: relative;
  margin-right: 0;
  overflow: visible;
}

.ambitions-team-container #ambitions .ambitions-left img {
  width: 320px;
  position: absolute;
  left: 5px;
  bottom: 200px;
}

.ambitions-team-container #ambitions .ambitions-left .ambitions-counter {
  width: 302px;
  height: 290px;
  background-color: #00bac7;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
          box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
  border-radius: 20px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.ambitions-team-container #ambitions .ambitions-left .ambitions-counter .ambitions-counter-number {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
}

.ambitions-team-container #ambitions .ambitions-left .ambitions-counter .ambitions-counter-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 23px;
}

.ambitions-team-container #ambitions .ambitions-left .ambitions-counter .projects {
  padding-right: 0;
}

.ambitions-team-container #ambitions .ambitions-left .ambitions-counter .negotiations {
  padding: 0;
  border-left: none;
  border-right: none;
}

.ambitions-team-container #ambitions .ambitions-left .ambitions-counter .deals {
  padding-left: 0;
}

.ambitions-team-container #ambitions .ambitions-right {
  margin-top: 30px;
  margin-left: 15px;
}

.ambitions-team-container #ambitions .ambitions-right div {
  margin-left: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #00bac7;
}

.ambitions-team-container #ambitions .ambitions-right::before {
  content: "";
  border: 1px solid #00bac7;
  width: 30px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  position: absolute;
}

.ambitions-team-container #ambitions .ambitions-right h2 {
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #272d3e;
  margin-top: 10px;
  margin-bottom: 60px;
}

.ambitions-team-container #ambitions .ambitions-right ul li {
  background: url("../public/check.svg") no-repeat left top;
  padding: 0 0 0 50px;
  list-style: none;
  margin: 20px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 45, 62, 0.8);
}

.ambitions-team-container #team {
  aspect-ratio: 375/1333.85;
  width: 100%;
  background-image: url("/public/mobile/team_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0px;
  bottom: -900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ambitions-team-container #team .team-container {
  width: 1180px;
  margin: 200px auto;
}

.ambitions-team-container #team .team-container .team-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ambitions-team-container #team .team-container .team-top .team-headsup {
  color: #00bac7;
  background: rgba(198, 244, 248, 0.1);
  border-radius: 100px;
  padding: 10px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.ambitions-team-container #team .team-container .team-top h2 {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin-top: 10px;
}

.ambitions-team-container #team .team-container .team-top p {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  width: 256px;
  text-align: center;
  margin-top: 20px;
}

.ambitions-team-container #team .team-container .team-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}

.ambitions-team-container #team .team-container .team-bottom .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 261px;
          flex: 0 0 261px;
  background-color: white;
  border-radius: 10px;
  width: 301px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ambitions-team-container #team .team-container .team-bottom .card .card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #00bac7;
  margin-bottom: 10px;
}

.ambitions-team-container #team .team-container .team-bottom .card .card-name {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #001533;
  margin-bottom: 17px;
}

.ambitions-team-container #team .team-container .team-bottom .card .card-info {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #001533;
  width: 242px;
}

.ambitions-team-container #team .team-container .team-bottom .card-middle {
  margin: 42px 0;
}

footer {
  aspect-ratio: 375/397.5;
  width: 100%;
  background-image: url("/public/mobile/footer_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 6396px;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: visible;
}

footer .footer-container .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: none;
  overflow: visible;
}

footer .footer-container .footer-top .footer-top-info {
  width: 320px;
  text-align: center;
}

footer .footer-container .footer-top .footer-top-info h3 {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 44px;
  margin-bottom: 10px;
}

footer .footer-container .footer-top .footer-top-info p {
  color: rgba(255, 255, 255, 0.8);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

footer .footer-container .footer-top .footer-top-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: visible;
  margin-top: 26px;
  margin-bottom: 58px;
}

footer .footer-container .footer-top .footer-top-contact div {
  color: #f4f7ff;
  background: #00bac7;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
          box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  padding: 25px 45px;
  cursor: pointer;
}

footer .footer-container .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  color: rgba(255, 255, 255, 0.4);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

#contact-form {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-form form {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#contact-form form #form-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  cursor: pointer;
  fill: #272d3e;
}

#contact-form form #form-close:hover {
  fill: #00bac7;
}

#contact-form form .form-header {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #272d3e;
}

#contact-form form .form-header p {
  text-align: center;
}

#contact-form form .form-inputs {
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#contact-form form .form-inputs div {
  margin-top: 20px;
  overflow: visible;
}

#contact-form form .form-inputs div label {
  font-size: 18px;
  font-weight: 500;
  color: #272d3e;
}

#contact-form form .form-inputs div input {
  width: 309px;
  height: 42px;
}

#contact-form form .form-inputs div input,
#contact-form form .form-inputs div textarea {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #272d3e;
}

#contact-form form .form-inputs div input:hover,
#contact-form form .form-inputs div textarea:hover {
  -webkit-box-shadow: 0 0 5px #00bac7;
          box-shadow: 0 0 5px #00bac7;
}

#contact-form form .form-inputs div input:focus,
#contact-form form .form-inputs div textarea:focus {
  outline-color: #00bac7;
}

#contact-form form .form-inputs div input::-moz-selection,
#contact-form form .form-inputs div textarea::-moz-selection {
  background-color: #00bac7;
}

#contact-form form .form-inputs div input::selection,
#contact-form form .form-inputs div textarea::selection {
  background-color: #00bac7;
}

#contact-form form .form-inputs button {
  width: 211px;
  padding: 25px 45px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4f7ff;
  background-color: #00bac7;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
          box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#contact-form form .form-inputs button:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

/* DESKTOP @MQ */
@media screen and (min-width: 1180px) {
  #intro {
    aspect-ratio: 1440/1074.5;
    width: 100%;
    background-image: url("../public/Rectangle1intor-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header {
    height: 53px;
    width: 1180px;
    margin-top: 30px;
    position: fixed;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
  }
  header .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 295px;
            flex: 0 0 295px;
    height: 47px;
    -webkit-transition: all 2s;
    transition: all 2s;
  }
  header .logo a {
    padding: 0px;
  }
  header .logo:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  header .top-navigation {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 590px;
            flex: 0 0 590px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header .top-navigation a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-style: normal;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  header .top-navigation a:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    color: #00bac7;
  }
  header .top-contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 295px;
            flex: 0 0 295px;
    overflow: visible;
  }
  header .top-contact .top-form {
    display: block;
    width: 157px;
    padding: 15px 30px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #272d3e;
    background-color: white;
    border-radius: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  header .top-contact .top-form:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  header .top-contact .hamburger {
    display: none;
  }
  .header-bg {
    position: fixed;
    top: 0;
    z-index: 9;
    -webkit-transition: all 1.5s;
    transition: all 1.5s;
  }
  .intro-info {
    width: 1180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    margin-top: 336px;
    overflow: visible;
  }
  .intro-info div {
    width: 575px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: visible;
  }
  .intro-info div h2 {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 500;
    font-style: normal;
  }
  .intro-info div .intro-info-text {
    width: 470px;
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
  }
  .intro-info div .middle-contact {
    width: 211px;
    padding: 25px 45px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f4f7ff;
    background-color: #00bac7;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
            box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
    border-radius: 100px;
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s;
    z-index: 10;
  }
  .intro-info div .middle-contact p {
    margin-right: 15px;
  }
  .intro-info div .middle-contact:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .intro-rectangle {
    display: block;
    position: absolute;
    left: -49px;
    top: 265px;
  }
  .intro-rectangle2 {
    display: block;
    position: absolute;
    left: 32px;
    top: 163px;
  }
  .intro-circle {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .intro-image {
    display: block;
    position: absolute;
    right: 0px;
    top: 221px;
    width: 48%;
    /* 685px original*/
  }
  #innovations {
    height: 802.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #innovations .innovations-container {
    width: 1179px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #innovations .innovations-header h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    color: #272d3e;
  }
  #innovations .innovations-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 84px;
  }
  #innovations .innovations-info div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    line-height: 32px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 373px;
            flex: 0 0 373px;
  }
  #innovations .innovations-info div img {
    width: 100%;
  }
  #innovations .innovations-info div h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
  }
  #innovations .innovations-info div p {
    width: 355px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: rgba(39, 45, 62, 0.8);
  }
  #innovations .innovations-info .hydrogen {
    margin: 0 30px;
  }
  #plans {
    height: 553px;
    background-color: #00bac7;
    color: white;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
  }
  #plans .plans-container {
    width: 1159px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #plans .plans-container div {
    margin-left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }
  #plans .plans-container div p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }
  #plans .plans-container::before {
    content: "";
    border: 1px solid white;
    width: 30px;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    position: absolute;
  }
  #plans .plans-container h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    margin-top: 10px;
    margin-bottom: 0;
  }
  #plans .plans-container .plans-hr {
    display: block;
    width: 371px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 40px 0 64px 0;
  }
  #plans .plans-container .plans-text {
    width: 640px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 0;
  }
  .plans-illustration {
    position: absolute;
    right: 0px;
    top: -20px;
    overflow: visible;
    width: 1069px;
  }
  .ambitions-team-container {
    aspect-ratio: 1440/2217;
    width: 100%;
    background-image: url("../public/ambitions_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ambitions-team-container #ambitions {
    width: 1180px;
    height: 600px;
    margin: 200px auto;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
  }
  .ambitions-team-container #ambitions .ambitions-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 575px;
            flex: 0 0 575px;
    margin-right: 15px;
    overflow: visible;
  }
  .ambitions-team-container #ambitions .ambitions-left img {
    width: 503px;
    position: absolute;
    left: 60px;
    bottom: -15px;
  }
  .ambitions-team-container #ambitions .ambitions-left .ambitions-counter {
    width: 575px;
    height: 118px;
    background-color: #00bac7;
    -webkit-box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
            box-shadow: 0px 30px 60px rgba(0, 186, 199, 0.4);
    border-radius: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
  .ambitions-team-container #ambitions .ambitions-left .ambitions-counter .ambitions-counter-number {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
  }
  .ambitions-team-container #ambitions .ambitions-left .ambitions-counter .ambitions-counter-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }
  .ambitions-team-container #ambitions .ambitions-left .ambitions-counter .projects {
    padding-right: 49px;
  }
  .ambitions-team-container #ambitions .ambitions-left .ambitions-counter .negotiations {
    padding: 0 49px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  .ambitions-team-container #ambitions .ambitions-left .ambitions-counter .deals {
    padding-left: 49px;
  }
  .ambitions-team-container #ambitions .ambitions-right {
    margin-top: 30px;
    margin-left: 15px;
  }
  .ambitions-team-container #ambitions .ambitions-right div {
    margin-left: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #00bac7;
  }
  .ambitions-team-container #ambitions .ambitions-right::before {
    content: "";
    border: 1px solid #00bac7;
    width: 30px;
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    position: absolute;
  }
  .ambitions-team-container #ambitions .ambitions-right h2 {
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #272d3e;
    margin-top: 10px;
    margin-bottom: 60px;
  }
  .ambitions-team-container #ambitions .ambitions-right ul li {
    background: url("../public/check.svg") no-repeat left top;
    padding: 0 0 0 50px;
    list-style: none;
    margin: 20px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(39, 45, 62, 0.8);
  }
  .ambitions-team-container #team {
    aspect-ratio: 1440/1002;
    width: 100%;
    background-image: url("../public/team_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0px;
    bottom: 127.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ambitions-team-container #team .team-container {
    width: 1180px;
    margin: 200px auto;
  }
  .ambitions-team-container #team .team-container .team-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ambitions-team-container #team .team-container .team-top .team-headsup {
    color: #00bac7;
    background: rgba(198, 244, 248, 0.1);
    border-radius: 100px;
    padding: 10px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }
  .ambitions-team-container #team .team-container .team-top h2 {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    margin-top: 10px;
  }
  .ambitions-team-container #team .team-container .team-top p {
    color: rgba(255, 255, 255, 0.8);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    width: 577px;
    text-align: center;
    margin-top: 20px;
  }
  .ambitions-team-container #team .team-container .team-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 80px;
  }
  .ambitions-team-container #team .team-container .team-bottom .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 373px;
            flex: 0 0 373px;
    background-color: white;
    border-radius: 10px;
    height: 323px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ambitions-team-container #team .team-container .team-bottom .card .card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #00bac7;
    margin-bottom: 10px;
  }
  .ambitions-team-container #team .team-container .team-bottom .card .card-name {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #001533;
    margin-bottom: 30px;
  }
  .ambitions-team-container #team .team-container .team-bottom .card .card-info {
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #001533;
    width: 280px;
  }
  .ambitions-team-container #team .team-container .team-bottom .card-middle {
    margin: 0 30px;
  }
  .whitespace {
    height: 20vh;
  }
  footer {
    aspect-ratio: 1440/363;
    width: 100%;
    background-image: url("../public/footer_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-container {
    width: 1180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
  }
  footer .footer-container .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 188px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    overflow: visible;
  }
  footer .footer-container .footer-top .footer-top-info {
    width: 575px;
    text-align: left;
  }
  footer .footer-container .footer-top .footer-top-info h3 {
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  footer .footer-container .footer-top .footer-top-info p {
    color: rgba(255, 255, 255, 0.8);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  footer .footer-container .footer-top .footer-top-contact {
    width: 575px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: visible;
  }
  footer .footer-container .footer-top .footer-top-contact div {
    color: #f4f7ff;
    background: #00bac7;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
            box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding: 25px 45px;
    cursor: pointer;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  footer .footer-container .footer-top .footer-top-contact div:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  footer .footer-container .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 116px;
    color: rgba(255, 255, 255, 0.4);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
  }
  #contact-form {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #contact-form form {
    width: 1180px;
    height: 720px;
    background-color: white;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  #contact-form form #form-close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    cursor: pointer;
    fill: #272d3e;
  }
  #contact-form form #form-close:hover {
    fill: #00bac7;
  }
  #contact-form form .form-header {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 50px;
    color: #272d3e;
  }
  #contact-form form .form-inputs {
    overflow: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #contact-form form .form-inputs div {
    margin-top: 20px;
    overflow: visible;
  }
  #contact-form form .form-inputs div label {
    font-size: 24px;
    font-weight: 500;
    color: #272d3e;
  }
  #contact-form form .form-inputs div input {
    width: 415px;
    height: 42px;
  }
  #contact-form form .form-inputs div input,
  #contact-form form .form-inputs div textarea {
    font-size: 24px;
    border-radius: 10px;
    border: 1px solid #272d3e;
  }
  #contact-form form .form-inputs div input:hover,
  #contact-form form .form-inputs div textarea:hover {
    -webkit-box-shadow: 0 0 5px #00bac7;
            box-shadow: 0 0 5px #00bac7;
  }
  #contact-form form .form-inputs div input:focus,
  #contact-form form .form-inputs div textarea:focus {
    outline-color: #00bac7;
  }
  #contact-form form .form-inputs div input::-moz-selection,
  #contact-form form .form-inputs div textarea::-moz-selection {
    background-color: #00bac7;
  }
  #contact-form form .form-inputs div input::selection,
  #contact-form form .form-inputs div textarea::selection {
    background-color: #00bac7;
  }
  #contact-form form .form-inputs button {
    width: 211px;
    padding: 25px 45px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f4f7ff;
    background-color: #00bac7;
    -webkit-box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
            box-shadow: 0px 15px 30px rgba(0, 186, 199, 0.33);
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  #contact-form form .form-inputs button:hover {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}
/*# sourceMappingURL=style.css.map */